html {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  /* font-size: 64px; */
  /* Agora definimos font-size = 16px no html, portanto
  16 * 4 = 64. Por isso '4rem'*/
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  /* font-size: 48px; */
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

button {
  background: #f84646;
  color: #fff;
  font-weight: 500;
  /* font-size: 24px; */
  font-size: 1.5rem;
  /* padding: 8px 24px; */
  padding: 0.5rem 1.5rem;
  /* border-radius: 8px; */
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

#presentation-container {
  /* padding: 40px 120px; */
  padding: 2.5rem 7.5rem;
  /* height: 600px; */
  height: 80vh;
  background-image: url(/assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#presentation {
  /* width: 600px; */
  width: 37.5rem;
  /* top: calc(50% - 185px); */
}

#qualities {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;
}

#qualities > img {
  margin: 0 2.5rem;
}

.container {
  /* padding: 160px 120px; */
  padding: 5rem 7.5rem;
  text-align: center;
}

.contact-title {
  /* margin-top: 8px; */
  margin-top: 0.5rem;
}

.container > p {
  /* margin-top: 24px; */
  margin-top: 1.5rem;
}

.container > button {
  /* margin-top: 32px; */
  margin-top: 2rem;
  transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
}

.container > button:hover {
  opacity: 0.8;
  transform: scale(1.1);
}

.background-gradient {
  background: linear-gradient(180deg, #fff, #d9d9d9);
}

.background-red {
  background: #f84646;
  color: #fff;
}

.article-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: flex-start; /* Consertamos assim o tamanho 100% do botão, evitando "stretch" */
  margin: 0 2.5rem 0 0;
}

.article-container {
  display: flex;
}

.article-container:nth-child(even) {
  flex-direction: row-reverse;
}
.article-container:nth-child(even) > .article-details {
  margin: 0 0 0 2.5rem;
}
