html {
  font-family: "Manrope", sans-serif;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 0;
}

h1 {
  /* font-size: 64px; */
  /* Agora definimos font-size = 16px no html, portanto
  16 * 4 = 64. Por isso '4rem'*/
  font-size: 4rem;
  font-weight: 800;
  margin: 0;
}

h2 {
  /* font-size: 48px; */
  font-size: 3rem;
  font-weight: 800;
  margin: 0;
}

button {
  background: #f84646;
  color: #fff;
  font-weight: 500;
  /* font-size: 24px; */
  font-size: 1.5rem;
  /* padding: 8px 24px; */
  padding: 0.5rem 1.5rem;
  /* border-radius: 8px; */
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}

#presentation-container {
  /* padding: 40px 120px; */
  padding: 2.5rem 7.5rem;
  /* height: 600px; */
  height: 50vh;
}

#presentation {
  position: relative;
  /* width: 600px; */
  width: 37.5rem;
  /* top: calc(50% - 185px); */
  top: calc(50% - 11.5625rem);
}

.container {
  /* padding: 160px 120px; */
  padding: 10rem 7.5rem;
  text-align: center;
}

.contact-title {
  /* margin-top: 8px; */
  margin-top: 0.5rem;
}

.container > p {
  /* margin-top: 24px; */
  margin-top: 1.5rem;
}

.container > button {
  /* margin-top: 32px; */
  margin-top: 2rem;
}
